@model MedicalService.ViewModels.DoctorViewModels.DoctorProfileViewModel
@{
    ViewData["Title"] = "Doctor's workspace";
}
@*<link href="../wwwroot/libs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">*@
<h1 class="text-center">Doctor's workspace</h1>

<hr>
<div class="container">
    <div class="row">

        <div class="col-sm-6 col-md-4">
            <div class="thumbnail" style="text-align: center">
                <img src="../pics/DoctorsProfile.jpg" alt="..." style="width: 350px">
                <div class="caption">
                    <h3 style="text-align: center">Doctor Profile</h3>
                    <p>Lorem ipsum dolor sit amet. Eligendi optio, cumque nihil molestiae. Nemo enim ipsam voluptatem, quia. Velit, sed quia dolor sit amet. Voluptate velit esse, quam nihil molestiae consequatur, vel illum.</p>
                    <p style="text-align: center"><a style="width: -webkit-fill-available" class="btn btn-outline-secondary" role="button" asp-area="" asp-controller="Doctor" asp-action="DoctorProfile">Open</a></p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-4">
            <div class="thumbnail" style="text-align: center">
                <img src="../pics/PatientCard.jpg" alt="..." style="width: 350px">
                <div class="caption">
                    <h3 style="text-align: center">Patient Profile</h3>
                    <p>Lorem ipsum dolor sit amet. Eligendi optio, cumque nihil molestiae. Nemo enim ipsam voluptatem, quia. Velit, sed quia dolor sit amet. Voluptate velit esse, quam nihil molestiae consequatur, vel illum.</p>
                    <p style="text-align: center"><a style="width: -webkit-fill-available" class="btn btn-outline-secondary" role="button" asp-area="" asp-controller="Patient" asp-action="Index">Open</a></p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-4">
            <div class="thumbnail" style="text-align: center">
                <img src="../pics/ListOfPacient.jpg" alt="..."style="width: 350px">
                <div class="caption">
                    <h3 style="text-align: center">List of Patients</h3>
                    <p>Lorem ipsum dolor sit amet. Eligendi optio, cumque nihil molestiae. Nemo enim ipsam voluptatem, quia. Velit, sed quia dolor sit amet. Voluptate velit esse, quam nihil molestiae consequatur, vel illum.</p>
                    <p style="text-align: center"><a style="width: -webkit-fill-available" class="btn btn-outline-secondary" role="button" asp-area="" asp-controller="Doctor" asp-action="ListOfPatients">Open</a></p>
                </div>
            </div>
        </div>


    </div>
</div>
 
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
}