@model MedicalService.Models.Patient

@{
    ViewData["Title"] = "Calendar";
}

<div id="calendar"></div>

<div id="myModalSave" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Medicine</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <input type="hidden" name="id" id="id"/>
                    <input type="hidden" asp-for="Id" name="patientId" id="patientId" class="form-control" readonly="readonly"/>
                    <div class="form-group">
                        <label>Title</label>
                        <input type="text" name="title" id="title" class="form-control" readonly="readonly"/>
                    </div>
                    <div class="form-group">
                        <label>Start Date</label>
                        <div class="input-group date" id="dtp1">
                            <input type="date"  name="startDate" id="startDate" class="form-control" readonly="readonly"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>End Date</label>
                        <div class="input-group date" id="dtp1">
                            <input type="date" name="endDate" id="endDate" class="form-control" readonly="readonly"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea id="description" rows="3" name="description" class="form-control" readonly="readonly"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Times a day</label>
                        <input type="number" min="1" max="5" name="timesADay" id="timesADay" class="form-control" readonly="readonly"/>
                    </div>
                    <div class="modal-footer" id="modal-footer">
                        <button id="btnClose" style="width: -webkit-fill-available" class="btn btn-outline-danger" data-dismiss="modal">Close</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.1.0/main.min.css">
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.1.0/main.min.js"></script>

@section Scripts {
<script>
    $(document).ready(function () {
    var patientId = $("#patientId").val();
    loadData();

    function loadData() {
        let eventsArr = [];
        $.ajax({
                type: "GET",
                url: "/event/GetEvents",
                data:{"patientId": patientId},
                success: function (data) {
                    console.log(data);
                    $.each(data, function (i, v) {
                        console.log(v);
                        eventsArr.push({
                            id: v.id,
                            title: v.title,
                            description: v.description,
                            start: v.startDate,
                            end: v.endDate,
                            timesaday: v.timesADame
                        });
                    })
                    console.log(eventsArr);
                    let calendar = initCalendar(eventsArr);
                },
                error: function (error) {
                    alert('failed');
                }
            })
    }
    function initCalendar(eventsArr) {
        var calendarEl = document.getElementById('calendar');
        let calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: 'dayGridMonth',
        views: {
            listWeek: { buttonText: 'week' },
            listDay: { buttonText: 'day' }
        },
        headerToolbar: {
            left: 'prev,next today',
            center: 'title',
            right: 'dayGridMonth,listWeek,listDay', 
        },
        events: eventsArr,
        eventColor: '#378006',
        eventClick: function(info) 
        {
            $('#myModalSave #id').val(info.event.id);
            console.log(info.event.id);
            $('#myModalSave #title').val(info.event.title);
            let startDate = new Date(info.event.start.toISOString().slice(0,10));
            console.log(startDate);
            startDate.setDate(startDate.getDate() + 1);
            console.log(startDate);
            console.log(startDate.toISOString().slice(0,10));
            $('#myModalSave #startDate').val(startDate.toISOString().slice(0,10));
            let endDate = info.event.end.toISOString().slice(0,10);
            $('#myModalSave #endDate').val(endDate);;
            $('#myModalSave #description').val(info.event._def.extendedProps.description);
            $('#myModalSave #timesADay').val(info.event._def.extendedProps.timesaday);
            $('#myModalSave').modal();
        }
        });
    calendar.render();
    return calendar;
    }
})
</script>
}